{% extends "default.html.twig" %}

{% block title %}home{% endblock %}

{% block stylesheet %}
<link href="/../public/css/advice.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<h1>test</h1>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
{% endblock %}