{% extends "default.html.twig" %}

{% block title %}home
{% endblock %}

{% block stylesheet %}
<link href="/../public/css/home.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% include 'header.html.twig' %}
{% endblock %}

{% block body %}

<div class="homeContainer">
    <div class="homeFiltre"></div>
    <div class="homePost">
        {% for Post in postData %}
            <p>{{ Post.TitlePost }}</p>
            <p>{{ Post.ContentPost }}</p>
            <p>{{ Post.DatePost }}</p>
            <img id="icon" src="data:image;base64,{{Post.PicturePost}}" alt="icon">
        {% endfor %}
    </div>
    <div class="homeAdd"></div>
</div>

{% if isConnected %}
<div class="PostButton">
    <button id="openModalButton" class="boton-elegante">Add Post</button>
</div>
{% endif %}

<div id="profileModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form action="/" method="post" id="formAddPost" enctype="multipart/form-data">
            <input type="text" name="TitlePost" placeholder="TitlePost" id="inputField" required>

            <textarea name="ContentPost" placeholder="ContentPost" id="inputFieldDesc" required></textarea>

            <input type="file" id="images" name="PicturePost" />

            <button type="submit" name="addPost" id="inputField2">Add Post</button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
<script src="/../public/js/modalUser.js"></script>
{% endblock %}